* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: #2f3640;
    font-family: 'Play', sans-serif;
    color: #000;
}

.container-center {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper { 
    width: 700px;
    border-radius: 10px;
    background-color: #fff;
    padding-bottom: 30px;
}

.wrapper-max-width {
    margin: 0 auto;
    width: 35%;
}

.title {
    text-align: center;
    padding: 0 0 20px 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    user-select: none;
}

.create-account-wrapper {
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.password-reset {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}

.button {
    width: 100%;
    padding: 10px;
    border: 1px;
    border-radius: 4px;
    background-color: rgb(243, 156, 18);
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    align-items: center;
    text-align: center;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    gap: 8px;
}

.button:hover {
    background-color: rgba(243, 156, 18, .8);
}

.button-facebook {
    background-color: #2c3e50;
}

.button-facebook:hover {
    background-color: #2f3640;;
}

input {
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    outline: none;
    padding: 5px;
    border-radius: 3px;
}

input:focus {
    border: 1px solid #3498db;
    box-shadow: 0 0 3px #3498db;
    outline: none;
}

a.transition-scale {
    transition: all 0.3s ease-in-out;
}

a.transition-scale:hover {
    transform: scale(0.9);
    color: #3498db;
}

.flex-checkbox {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.checkbox {
    user-select: none;
}

.login-with {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0 0 0;
    user-select: none;
}

.login-with svg {
    width: 32px;
    height: 32px;
}

.login-with:hover svg {
    animation: scale 1s ease-in-out infinite;
}

@keyframes scale {
    0% {scale: 0.8;}
    50% {scale: 1.2;}
    100% {scale: 0.8;}
}